FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx

FEISHU_OPEN_BROWSER=true
FEISHU_REDIRECT_URI=http://localhost:9000/
FEISHU_OAUTH_STATE=hotai-test

FEISHU_SAVE_USER_ACCESS_TOKEN=true
FEISHU_USER_ACCESS_TOKEN=u-xxx

FEISHU_WIKI_URL=https://pcn43kg7pnzs.feishu.cn/wiki/DG5cwq12EiuaQGk8UbtcaQKdnif
FEISHU_FETCH_DOC_AFTER_AUTH=true

FEISHU_DOC_OUTPUT=docs/feishu_content.txt
FEISHU_SYNC_MODEL_INFO=true
FEISHU_MODEL_INFO_PATH=web/HotAI/dist/docs/model-info.md
